
/* Your CSS Code here. */
.holder{
	
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.items{
	width:300px;
	height:300px;
	font-size:100px;
	
}
#green{
	background-color:green;
}
#red{
	background-color:red;
}
#blue{
	background-color:blue;
}